* {
      margin: 0;
      padding: 0;
}

html {
      font-family: "Poppins", sans-serif;
      font-size: 62.5%;
}

body {
      background: lightgray;
}

.content {
      width: 144rem;
      max-width: 100%;
      margin: 0 auto;
      align-items: center;
}

.btn {
      display: inline-block;
      color: #FFF;
      background: #171100;
      font-size: 1.4rem;
      border: none;
      outline: none;
      border-radius: 999px;
      background: #171100;
      cursor: pointer;
}

.btn:hover {
      background: #FFB900;
}

/* nav bar */
/* tạo thanh top 36px */
.top-bar {
      height: 36px;
      background: lightgray;
}

.nav-bar {
      position: sticky;
      top: 0;
      background: #FFFCF4;
      z-index: 1000;
}

.nav-bar .content {
      display: flex;
}

.nav-bar ul {
      display: flex;
      gap: 2px;
      list-style: none;

}

.nav-bar ul li {
      color: #171100;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 12px 20px;
}

.nav-bar ul li {
      color: #171100;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 12px 20px;
      cursor: pointer;

}

.nav-bar ul li:hover {
      text-decoration: underline;
}

.nav-bar .btn {
      padding: 11px 41px;
      font-size: 1.6rem;
}